---
---
@charset "utf-8";

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #fdfdfd;
$brand-color:      #fff;

$grey-color:       #ccc;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

body {
    background: url('/img/home-bg-edit.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}
.home {
    text-align: center;
    padding-top: 30px;
}

.site-logo {
    img {
        width: auto;
        height: 40px;
        padding: 10px 8px 10px 0;
    }
}

.super-heading {
    font-family: 'Oswald';
    font-size: 120px;
    line-height: 1.05;
    font-weight: 400;
    text-transform: uppercase;
    padding: 80px 0 120px;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
