<footer class="site-footer">
    <div class="wrapper">
        <h4>We are a church passionate about living and sharing God's Message of Hope and Love.</h4>
        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-3">
                <ul class="contact-list">
                    <li>77-81 Hammers Road<br>Northmead, New South Wales, Australia 2152</li>
                    <li>(02) 9896 3158</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
