<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-3">
                <ul class="contact-list">
                    <li><a href="https://www.facebook.com/parramattasda/" target="_blank">Facebook</a></li>
                    <li><a href="https://www.twitter.com/parramattasda/" target="_blank">Twitter</a></li>
                    <li><a href="https://www.instagram.com/parramattasda/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.github.com/parramattasda/" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
