---
layout: home
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
    <div class="page-content">
        <div class="wrapper">
            <div class="home">
                {{ content }}
                <!-- Show 'Home Modules' collection, ordered by position number -->
                {% assign sorted_list = (site.home | sort: 'position') %}
                {% for item in sorted_list %}
                  <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <h3>{{ item.title }}</h3>
                      <div>{{ item.content }}</div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% include footer.html %}
</body>
</html>
